@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
     }
}

.pulse {
    animation: shadow-pulse 0.75s infinite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    position: relative;
    width: 100%;
    height: 100%;
    
    background: #F1EFE0;
}

#hm-name {
    position: absolute;
    height: 62px;
    padding-left: 44px;
    padding-right: 10px;
    top: 31px;
    left: -300px;

    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    opacity: 0;
    pointer-events: none;
    text-decoration: none;
    border: 2px solid rgba(206, 136, 136, 0.70);

    color: #44484A;
    background: #F1EFE0;
}

#ellipse {
    position: absolute;
    width: 1754px;
    height: 1754px;
    left: 412px;
    top: -397px;
    border-radius: 50%;
    cursor: pointer;
    
    background: #CE8888;
}

#hm-nav-selection {
    position: absolute;
    width: 278px;
    height: 415px;
    left: 1100px;
    top: 240px;

    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 288px;
    line-height: 423px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    opacity: 0;
    pointer-events: none;

    color: #F1EFE0;

}

#hm-nav-list {
    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    pointer-events: none;
    list-style: none;
}

#hm-nav-list a {
    color:#F1EFE0;
    text-decoration: none;
}

#close-nav {
    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    pointer-events: none;
    list-style: none;

    position: absolute;
    width: 245px;
    height: 48px;
    left: 475px;
    top: 30px;
    opacity: 0;
    text-decoration: none;

    color: #F1EFE0;
}

#hm-about {
    position: absolute;
    width: 245px;
    height: 48px;
    left: 535px;
    top: 125px;
    opacity: 0;
}

#hm-experience {
    position: absolute;
    width: 245px;
    height: 47px;
    left: 450px;
    top: 330px;
    opacity: 0;
}

#hm-projects {
    position: absolute;
    width: 245px;
    height: 47px;
    left: 431px;
    top: 535px;
    opacity: 0;
}

#hm-contact {
    position: absolute;
    width: 245px;
    height: 48px;
    left: 514px;
    top: 735px;
    opacity: 0;
}

#abt-title {
    position: absolute;
    width: 639px;
    height: 231px;
    left: 720px;
    top: 250px;
    opacity: 0;

    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 144px;
    line-height: 231px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    pointer-events: none;

    color: #CE8888;

    transform: rotate(35deg);
}

#abt-backdrop {
    position: absolute;
    width: 3071.27px;
    height: 829.71px;
    left: 1440px;
    top: 1710px;
    z-index: -1;

    background: #CE8888;
    transform: rotate(35deg);
}

.abt-info h3 {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    /* identical to box height */

    color: #F1EFE0;
}

.abt-info p {
    font-family: Minion Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #44484A;
}

#abt-intro {
    position: absolute;
    width: 669px;
    height: 100px;
    left: -150px;
    top: 75px;
    opacity: 0;
}

#abt-role {
    position: absolute;
    width: 784px;
    height: 144px;
    left: -25px;
    top: 215px;
    opacity: 0;
}

#abt-goals {
    position: absolute;
    width: 813px;
    height: 175px;
    left: 125px;
    top: 400px;
    opacity: 0;  
}

#abt-hobbies {
    position: absolute;
    width: 827px;
    height: 152px;
    left: 300px;
    top: 600px;
    opacity: 0; 
}