@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
     }
}

.pulse {
    animation: shadow-pulse 0.75s infinite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    position: relative;
    width: 100%;
    height: 100%;
    
    background: #F1EFE0;
}

#hm-name {
    position: absolute;
    width: 231px;
    height: 62px;
    left: 44px;
    top: 31px;

    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    opacity: 0;
    pointer-events: none;
    text-decoration: none;

    color: #44484A;
}

#ellipse {
    position: absolute;
    width: 1754px;
    height: 1754px;
    left: 412px;
    top: -397px;
    border-radius: 50%;
    pointer-events: none;

    background: #CE8888;
}

#hm-nav-selection {
    position: absolute;
    width: 278px;
    height: 415px;
    left: 1100px;
    top: 240px;

    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 288px;
    line-height: 423px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    opacity: 0;
    pointer-events: none;

    color: #F1EFE0;

}

#hm-nav-list {
    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    pointer-events: none;
    list-style: none;
}

#hm-nav-list a {
    color:#F1EFE0;
    text-decoration: none;
}

#close-nav {
    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    pointer-events: none;
    list-style: none;

    position: absolute;
    width: 245px;
    height: 48px;
    left: 475px;
    top: 30px;
    opacity: 0;
    text-decoration: none;

    color: #CE8888;
}

#hm-about {
    position: absolute;
    width: 245px;
    height: 48px;
    left: 535px;
    top: 125px;
    opacity: 0;
}

#hm-experience {
    position: absolute;
    width: 245px;
    height: 47px;
    left: 450px;
    top: 330px;
    opacity: 0;
}

#hm-projects {
    position: absolute;
    width: 245px;
    height: 47px;
    left: 431px;
    top: 535px;
    opacity: 0;
}

#hm-contact {
    position: absolute;
    width: 245px;
    height: 48px;
    left: 514px;
    top: 735px;
    opacity: 0;
}

#proj-title {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 700px;
    top: 375px;

    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 0;
    line-height: 106px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #CE8888;
}

#proj-border {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 700px;
    top: 375px;
    opacity: 0;
    z-index: -1;

    border: 5px solid #CE8888;
    box-sizing: border-box;
}

#proj-home h4 {

    position: absolute;
    width: 715px;
    height: 77px;
    left: 275px;
    top: 250px;
    opacity: 0;
    
    font-family: Minion Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 77px;
    /* identical to box height */
    letter-spacing: 0.01em;
    
    color: #000000;
}

#proj-home p {
    position: absolute;
    width: 104px;
    height: 22px;
    left: 950px;
    top: 350px;
    opacity: 0;

    font-family: Minion Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.01em;

    color: #000000;
}

#pointer-down {
    position: absolute;
    width: 0; 
    height: 0;
    left: 550px;
    top: 375px;
    opacity: 0;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #CE8888;
}

#prev {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 110px;
    top: 350px;
    opacity: 0;
    border-radius: 50%;

    background: #CE8888;
    transform: rotate(-180deg);
}

#left-arrow {
    position: absolute;
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 10px solid #F1EFE0;
    left: 27.5px;
    top: 20px;
}

#next {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 700px;
    top: 375px;
    opacity: 0;
    border-radius: 50%;

    background: #CE8888;
    transform: rotate(-180deg);
}

#right-arrow {
    position:absolute;
    width: 0; 
    height: 0; 
    opacity: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid #F1EFE0;
    left: 20px;
    top: 20px;
}

.project-reel li {
    padding: 3px;
}

#galluri {
    opacity: 0;
}

#galluri h4 {
    position: absolute;
    height: 94px;
    left: 500px;
    top: 5px;
    
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 94px;
    /* identical to box height */
    letter-spacing: 0.02em;
    
    color: #44484A;    
}

#galluri img {
    position: absolute;
    width: 250px;
    height: 460px;
    left: 250px;
    top: 120px;
}

#galluri ul {
    position: absolute;
    width: 666px;
    height: 146px;
    left: 550px;
    top: 250px;

    font-family: Minion Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.01em;

    color: #44484A;
}

#charity-water {
    opacity: 0;
}

#charity-water h4 {
    position: absolute;
    width: 569px;
    height: 73px;
    left: 435px;
    top: 10px;

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 73px;
    letter-spacing: 0.02em;

    color: #44484A;
}

#charity-water img {
    position: absolute;
    width: 520px;
    height: 296px;
    left: 350px;
    top: 125px;    
}

#charity-water ul {
    position: absolute;
    width: 532px;
    height: 146px;
    left: 400px;
    top: 450px;

    font-family: Minion Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.01em;

    color: #44484A;
}

#proj-selection {
    position: absolute;
    width: 963px;
    height: 75px;
    left: 238px;
    top: 850px;
}

#proj1 {
    position: absolute;
    width: 225px;
    height: 50px;
    margin: 0 auto;
    opacity: 0.2;

    background: url(../imgs/galluri_icon.png);
    background-position: center;
    background-size: 75%;
}

#proj2 {
    position: absolute;
    width: 225px;
    height: 50px;
    margin: 0 auto;
    left: 250px;
    opacity: 0.2;

    background: url(../imgs/charity-water-icon.png);
    background-position: center;
    background-size: 80%;
}

#proj3 {
    position: absolute;
    width: 225px;
    height: 50px;
    margin: 0 auto;
    left: 500px;
    opacity: 0.2;

    background: url(../imgs/ziont-eyes.png);
    background-position: center;
    background-size: 90%;
}

#proj4 {
    position: absolute;
    width: 225px;
    height: 50px;
    margin: 0 auto;
    left: 750px;
    opacity: 0.2;

    background: url(../imgs/hello-kitty-deanna.png);
    background-position: center;
    background-size: 95%;
}